.main {
  display: flex;
  flex-direction: column;
}

.section-card-button {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 920px) {
  .main{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 40px;
  }

  .section-card-button {
    display: flex;
  }
}