.footer {
  align-items: center;
  background-color: black;
  display: flex;
  height: 27px;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.footer-text {
  align-items: center;
  color: white;
}

