.footer {
  align-items: center;
  background-color: black;
  display: none;
  justify-content: center;
  margin: 20px;
  width: 100%;
}

.footer-text {
  align-items: center;
  color: white;
}

@media (min-width: 920px) {
  .footer {
    display: flex;
  }

}
